<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- styles -->
    <link rel="stylesheet" href="../static/style.css" />
    <!-- Caminho para o script -->
    <title>Login</title>
  </head>
  <body>
    <div>
      <div class="Form">
        <form class="formulario" id="formulario">
          <h1>Login</h1>

          <label for="email">Email:</label>
          <input type="text" id="email" name="email" required />

          <label for="password">Senha:</label>
          <input type="password" id="password" name="password" required />

          <button type="submit">Enviar</button>
        </form>
        <p id="message"></p>
      </div>
    </div>
    <script>
      document
        .getElementById("formulario")
        .addEventListener("submit", async function (event) {
          event.preventDefault();
          const email = document.getElementById("email").value;
          const password = document.getElementById("password").value;

          try {
            const response = await fetch("/login", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ email, password }),
            });

            const data = await response.json();

            if (response.ok) {
              localStorage.setItem("token", data.token);
              window.location.href = "/notes";
            } else {
              document.getElementById("message").textContent = data.message;
            }
          } catch (error) {
            console.error("Erro: ", error);
          }
        });
    </script>
  </body>
</html>
